body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-color: #768fa3;
}

/* Search Details */

.search-field {
  border: none;
  border-radius: 5px 0px 0px 5px;
  padding: 10px;
  min-width: 400px;
}

.search-box {
  width: 550px;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
}

.search-button {
  padding: 10px 10px;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid rgb(212, 212, 212);
}

/* Product Details */

#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.single-product {
  padding: 5px;
  transition: 0.3s;
  background-color: white;
  margin: 15px;
  min-height: 430px;
  border-radius: 10px;
}

.single-product h4 {
  color: #198754 ;
}

.single-product:hover {
  box-shadow: 5px 5px 5px rgb(194, 194, 194);
  background-color: rgb(253, 240, 240);
}
.product-image {
  padding-top: 20px;
  padding-bottom: 10px;
  width: 150px;
  height: 180px;
  transition: transform .5s;
}

.single-product:hover .product-image {
  transform: scale(1.1);
}

/* Cart Design */

.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 5px 5px 10px rgb(54, 54, 54);
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  background-color: white;
}

.cart-main {
  padding-right: 30px;
}

/* Responsive Design */

@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}

@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}